@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
	html {
		font-family: Inter, ui-sans-serif, system-ui;
		color: #ffffff;
	}
}

.dialogTransitionOpen {
	transition-property: opacity, z-index;
	transition-duration: 300ms, 0ms;
	transition-delay: 0ms, 0ms;
}

.dialogTransitionClose {
	transition-property: opacity, z-index;
	transition-duration: 300ms, 0ms;
	transition-delay: 0ms, 300ms;
}

.popoverTransitionOpen {
	transition-property: opacity, top, left;
	transition-duration: 300ms, 0ms, 0ms;
	transition-delay: 0ms, 0ms, 0ms;
}

.popoverTransitionClose {
	transition-property: opacity, top, left;
	transition-duration: 300ms, 0ms, 0ms;
	transition-delay: 0ms, 300ms, 300ms;
}



.animation-line {
	animation-name: line;
	animation-timing-function: linear;
	animation-duration: 1000ms;
	animation-fill-mode: forwards;
}

.wait-animation-line {
	opacity: 0;
}

@keyframes line {
	to {
		stroke-dashoffset: 0;
	}
}

.animation-area {
	animation-name: area;
	animation-timing-function: linear;
	animation-duration: 500ms;
	animation-delay: 200ms;
	animation-fill-mode: forwards;
	opacity: 0%;
}

@keyframes area {
	0% {
		opacity: 0%;
	}

	100% {
		opacity: 100%;
	}
}


.wait-animation-bar {
	opacity: 0;
	transform: scaleY(0);
}

.animation-bar {
	transform-origin: bottom;
	transform: scaleY(0);
	opacity: 0%;

	animation-name: bar;
	animation-timing-function: linear;
	animation-duration: 500ms;
	animation-delay: 200ms;
	animation-fill-mode: forwards;
}

@keyframes bar {
	0% {
		opacity: 0%;
		transform: scaleY(0);
	}

	100% {
		transform: scaleY(1);
		opacity: 100%;

	}
}