.spider {
  --spider-color: #40434f;
  position: fixed;
  width: 75px;
  height: 175px;
  right: 40px;
  top: 55px;
  transform: translateX(-50%);
  transform-origin: center top;
  animation: swing 2s infinite ease-in-out;
  animation-direction: alternate-reverse;
  z-index: 10000;
  pointer-events: none;
}

@keyframes swing {
  0% {
    transform: translateX(-50%) rotate(25deg);
  }

  100% {
    transform: translateX(-50%) rotate(-25deg);
  }
}

.spider::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 100px;
  background: white;
}

.body {
  position: absolute;
  width: 30px;
  height: 40px;
  border-radius: 50% 50% 40% 40%;
  background: var(--spider-color);
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
}

.body::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: black;
  border-radius: 50%;
  border: 3px solid white;
  bottom: 6px;
  left: 3px;
}

.body::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: black;
  border-radius: 50%;
  border: 3px solid white;
  bottom: 6px;
  right: 3px;
}

.leg {
  position: absolute;
  top: 10px;
  width: 30px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 -3px 0 var(--spider-color);
}

.leg.left {
  left: -25px;
}

.leg.right {
  right: -25px;
}

.leg::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 30px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 -3px 0 var(--spider-color);
}

.leg::after {
  content: "";
  position: absolute;
  top: 20px;
  width: 20px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 -3px 0 var(--spider-color);
}

.leg.left::after {
  left: 8px;
}

.leg.right::after {
  right: 8px;
}

.spiderWeb {
  position: fixed;
  display: block;
  right: -6px;
  top: -10px;
  background: url("./assets/spiderweb3.png");
  pointer-events: none;
  height: 235px;
  width: 350px;
  z-index: 10000;
  background-size: cover;
}

.spiderWeb2 {
  position: fixed;
  display: block;
  right: -6px;
  bottom: -20px;
  background: url("./assets/spiderweb2.png");
  pointer-events: none;
  height: 235px;
  width: 350px;
  z-index: 10000;
  background-size: cover;
  transform: rotate(180deg);
}
@media screen and (max-width: 640px) {
  .spiderWeb {
    height: 150px;
    width: 200px;
  }
  .spiderWeb2 {
    height: 150px;
    width: 200px;
  }
  .spider {
    right: -25px;
    top: 31px;
  }
}

.bat {
  height: 20px;
  width: 40px;
  position: fixed;
  z-index: 1000000;
  background: url("./assets/bats.png");
  animation-name: spriteBat;
  animation-duration: 0.5s;
  animation-timing-function: steps(4);
  animation-iteration-count: infinite;
  background-position: 2px 0px;
}

.batDisappear {
  opacity: 0;
  transition: opacity 0.5s;
}

@keyframes spriteBat {
  from {
    background-position: 2px 0px;
  }
  to {
    background-position: 2px 80px;
  }
}

.textHappy {
  font-family: "Griffy", cursive !important;
  letter-spacing: 2px;
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 100px;
  text-align: center;
  transform: translate(-50%, -50%);
  color: #e65100;
}
@media screen and (max-width: 640px) {
  .textHappy {
    font-size: 80px;
  }
  .menuItemHalloween,
  .menuItemActiveHalloween {
    font-size: 16px !important;
  }
}

.glitchText {
  position: relative;
  font-size: 32px;
  color: #fff;
  padding: 2px 0;
  font-variant-numeric: tabular-nums;
}

.glitchText::before {
  content: attr(data-glitch);
  position: absolute;
  left: -2px;
  text-shadow: -1px 0 #0ff;
  top: 0;
  color: white;
  background: rgb(45, 39, 85);
  overflow: hidden;
  animation: noise-anim 10s infinite linear alternate-reverse;
}

.glitchText::after {
  content: attr(data-glitch);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: rgb(45, 39, 85);
  overflow: hidden;
  animation: noise-anim2 5s infinite linear alternate-reverse;
}

@keyframes noise-anim {
  0% {
    clip-path: inset(70% 0 13% 0);
    opacity: 1;
  }
  0.5% {
    clip-path: inset(28% 0 31% 0);
  }
  1.0% {
    clip-path: inset(77% 0 4% 0);
  }
  1.5% {
    clip-path: inset(16% 0 67% 0);
  }
  2.0% {
    clip-path: inset(93% 0 2% 0);
  }
  2.5% {
    clip-path: inset(89% 0 2% 0);
  }
  3.0% {
    clip-path: inset(5% 0 82% 0);
  }
  3.5% {
    clip-path: inset(54% 0 22% 0);
  }
  4.0% {
    clip-path: inset(88% 0 1% 0);
  }
  4.5% {
    clip-path: inset(8% 0 26% 0);
  }
  5.0% {
    clip-path: inset(55% 0 5% 0);
  }
  5.5% {
    clip-path: inset(5% 0 13% 0);
  }
  6.0% {
    clip-path: inset(83% 0 18% 0);
  }
  6.5% {
    clip-path: inset(47% 0 14% 0);
  }
  7.0% {
    clip-path: inset(62% 0 19% 0);
  }
  7.5% {
    clip-path: inset(39% 0 28% 0);
  }
  8.0% {
    clip-path: inset(89% 0 4% 0);
  }
  8.5% {
    clip-path: inset(82% 0 15% 0);
  }
  9.0% {
    clip-path: inset(69% 0 4% 0);
  }
  9.5% {
    clip-path: inset(80% 0 11% 0);
  }
  10.0% {
    clip-path: inset(28% 0 53% 0);
  }
  10.5% {
    opacity: 0;
  }
  99.5% {
    opacity: 0;
  }
}

@keyframes noise-anim2 {
  0% {
    clip-path: inset(86% 0 15% 0);
    opacity: 1;
  }
  0.5% {
    clip-path: inset(49% 0 15% 0);
  }
  1.0% {
    clip-path: inset(75% 0 8% 0);
  }
  1.5% {
    clip-path: inset(23% 0 33% 0);
  }
  2.0% {
    clip-path: inset(20% 0 12% 0);
  }
  2.5% {
    clip-path: inset(77% 0 24% 0);
  }
  3.0% {
    clip-path: inset(56% 0 24% 0);
  }
  3.5% {
    clip-path: inset(78% 0 18% 0);
  }
  4.0% {
    clip-path: inset(87% 0 6% 0);
  }
  4.5% {
    clip-path: inset(56% 0 35% 0);
  }
  5.0% {
    clip-path: inset(94% 0 4% 0);
  }
  5.5% {
    clip-path: inset(26% 0 3% 0);
  }
  6.0% {
    clip-path: inset(52% 0 34% 0);
  }
  6.5% {
    clip-path: inset(22% 0 59% 0);
  }
  7.0% {
    clip-path: inset(57% 0 4% 0);
  }
  7.5% {
    clip-path: inset(83% 0 13% 0);
  }
  8.0% {
    clip-path: inset(97% 0 4% 0);
  }
  8.5% {
    clip-path: inset(73% 0 16% 0);
  }
  9.0% {
    clip-path: inset(10% 0 7% 0);
  }
  9.5% {
    clip-path: inset(35% 0 3% 0);
  }
  10.0% {
    clip-path: inset(3% 0 56% 0);
  }
  10.5% {
    opacity: 0;
  }
  99.5% {
    opacity: 0;
  }
}

.menuItemHalloween {
  font-family: "Griffy", cursive !important;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 800;
}
.menuItemActiveHalloween {
  font-family: "Griffy", cursive !important;
  font-size: 18px;
  letter-spacing: 2px;
  color: #dfad53 !important;
}

.titleHalloween {
  font-family: "Griffy", cursive !important;
  font-size: 20px;
  letter-spacing: 2px;
  color: #e65100 !important;
}

.pumplinkImg {
  position: fixed;
  top: 25%;
  left: 33%;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
}
.glitch1 {
  animation-name: glitch-anim-1;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.glitch2 {
  animation-name: glitch-anim-2;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.glitch3 {
  animation-name: glitch-anim-3;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.glitch4 {
  animation-name: glitch-anim-4;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes glitch-anim-1 {
  0% {
    opacity: 0.7;
    transform: translate3d(10px, 0, 0);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }
  2% {
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  4% {
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }
  6% {
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }
  8% {
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  10% {
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  12% {
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  14% {
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  16% {
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  18% {
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  20% {
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
  21.9% {
    opacity: 0.7;
    transform: translate3d(10px, 0, 0);
  }
  22%,
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}

@keyframes glitch-anim-2 {
  0% {
    opacity: 0.7;
    transform: translate3d(10px, 0, 0);
    clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
  }
  3% {
    clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
  }
  5% {
    clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
  }
  7% {
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }
  9% {
    clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
  }
  11% {
    clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
  }
  13% {
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }
  15% {
    clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
  }
  17% {
    clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
  }
  19% {
    clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
  }
  20% {
    clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
  }
  21.9% {
    opacity: 0.7;
    transform: translate3d(10px, 0, 0);
  }
  22%,
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}

@keyframes glitch-anim-3 {
  0% {
    opacity: 0.7;
    transform: translate3d(0, 5px, 0) scale3d(-1, -1, 1);
    clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
  }
  1.5% {
    clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
  }
  2% {
    clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
  }
  2.5% {
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }
  3% {
    clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
  }
  5% {
    clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
  }
  5.5% {
    clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
  }
  7% {
    clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
  }
  8% {
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }
  9% {
    clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
  }
  10.5% {
    clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
  }
  11% {
    clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
  }
  13% {
    clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
  }
  14% {
    clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
  }
  14.5% {
    clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
  }
  15% {
    clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
  }
  16% {
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }
  18% {
    clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
  }
  20% {
    clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
  }
  21.9% {
    opacity: 0.7;
    transform: translate3d(0, 5px, 0) scale3d(-1, -1, 1);
  }
  22%,
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}

@keyframes glitch-anim-text {
  0% {
    transform: translate3d(10px, 0, 0) scale3d(-1, -1, 1);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }
  2% {
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  4% {
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  5% {
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  6% {
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  7% {
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  8% {
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  9% {
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
  9.9% {
    transform: translate3d(10px, 0, 0) scale3d(-1, -1, 1);
  }
  10%,
  100% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

/* Flash */
@keyframes glitch-anim-flash {
  0%,
  5% {
    opacity: 0.2;
    transform: translate3d(10px, 5px, 0);
  }
  5.5%,
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}
